<div class="view row-fluid">
  <div class="attr span1"><%= quantity %> oz.</div>
  <div class="attr span2"><%= cultivar %></div><!-- /.attr -->
  <div class="attr span2"><%= form %></div><!-- /.attr -->
  <div class="attr span2"><%= time %> minutes</div><!-- /.attr -->
  <div class="attr span1"><%= use %></div><!-- /.attr -->
  <button class="btn btn-mini delete"><i data-attr="size" class="icon-remove" title="Delete"></i> Delete</button>
  <button class="btn btn-mini modify"><i data-attr="size" class="icon-edit" title="Edit"></i> Edit</button>
</div><!-- /.view -->
<div class="edit mutator row-fluid">
  <div class="has-label">
    <label>Quantity</label>
    <input class="input-mini quantity" name="quantity" placeholder="Quantity" type="text" value="<%= quantity %>">
  </div><!-- /.has-label -->
  <div class="no-label">
    <span><%= cultivar %></span>
  </div><!-- /.no-label -->
  <div class="has-label">
    <label>Time</label>
    <input class="input-mini lovibond" name="lovibond" placeholder="Lovibond" type="text" value="<%= time %>">
  </div><!-- /.has-label -->
  <div class="no-label">
    <button class="btn save">Save</button>
  </div><!-- /.no-label -->
</div><!-- /.edit -->